#next-snapshot-card {
  background: transparent;
  background-size: cover;
  border-radius: 15px;
  width: 25%;
  margin: 8px;
  padding: 36px 22px;
}

#next-snapshot-card-header {
  color: white;
  font-size: 7.4em;
  font-weight: lighter;
  margin-top: 20px;
}

#next-snapshot-card-description {
  color: #6F7C9A;
  font-size: 1.1em;
}
